---
import { getCollection } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout/BaseLayout.astro";
import LinkButton from "~/components/LinkButton.astro";
import Hr from "~/components/Hr.astro";
import Card from "~/components/Card";
import getSortedPosts from "~/utils/getSortedPosts";
import slugify from "~/utils/slugify";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const mostRecentFeaturedPost = sortedPosts.find(({ data }) => data.featured);
const numberOfRecentPostsToShow = 4;
---

<BaseLayout>
  <main id="main-content">
    {
      mostRecentFeaturedPost && (
        <>
          <section id="featured">
            {/* TODO: Put the featured post thing OVER a post's header image, similar to how Ive already done on LanceJeffers.com */}
            <h2>Featured Post</h2>
            <ul>
              <Card
                postBody={mostRecentFeaturedPost.body}
                href={`/posts/${slugify(mostRecentFeaturedPost.data)}`}
                frontmatter={mostRecentFeaturedPost.data}
                secHeading={false}
              />
            </ul>
          </section>
          <Hr />
        </>
      )
    }
    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data, body }, index) =>
              index < numberOfRecentPostsToShow &&
              data !== mostRecentFeaturedPost?.data && (
                <Card
                  postBody={body}
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="my-8 text-center">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
</style>
